<section class="group-dialog-container">
  <div class="dialog-btns">
    <div class="control-group-btns">
      <button class="back-btn">Back To Main Page</button>
      <button class="update-btn">Update The Messages</button>
    </div>
    <button class="remove-btn">Remove The Group</button>
  </div>
  <div class="group-dialog">
    <div class="message-container align-self">
      <div class="message-creator">
        <span>Soso</span>
      </div>
      <p class="message">My name is Soso</p>
      <div class="date-container">
        <span>Sent on: December, 2023, 25:56</span>
      </div>
    </div>
    <div class="message-container align-self">
      <div class="message-creator">
        <span>Soso</span>
      </div>
      <p class="message">
        My name is Soso and this is my very first message, hopefully you guys
        can see it lol! And I am making an angular application!
      </p>
      <div class="date-container">
        <span>Sent on: December, 2023, 25:56</span>
      </div>
    </div>
    <div class="message-container my-message">
      <div class="message-creator">
        <span>Soso</span>
      </div>
      <p class="message">
        My name is Soso and this is my very first message, hopefully you guys
        can see it lol! And I am making an angular application!
      </p>
      <div class="date-container">
        <span>Sent on: December, 2023, 25:56</span>
      </div>
    </div>
  </div>
  <form class="message-form">
    <div class="message-input-container">
      <input
        class="message-input"
        type="text"
        placeholder="Type a message..."
      />
    </div>
    <div class="message-btn-container">
      <button class="send-btn" type="submit">Send</button>
    </div>
  </form>
</section>
