<div class="group-container">
  <div class="group">
    <div class="group-img-container">
      <img
        class="group-logo"
        [src]="'assets/imgs/group-item-logo.png'"
        alt="Group logo"
      />
    </div>
    <div class="group-details">
      <h4>{{ groupItem.createdBy.S }}'s Group</h4>
      <span class="group-description">{{ groupItem.name.S }}</span>
    </div>
    <button *ngIf="groupItem.createdBy.S === 'Soso'" class="remove-group-btn">Delete</button>
  </div>
  <div class="group-date-container">
    <span class="group-date">Created at: {{ groupItem.createdAt.S | date }}</span>
  </div>
</div>
