<section class="forms">
  <form class="signup-form">
    <h2 class="register-title">Register to join others!</h2>
    <div class="input-wrapper">
      <label for="firstname">First name</label>
      <input type="text" class="firstname-input" id="firstname" />
    </div>
    <div class="input-wrapper">
      <label for="email">Email</label>
      <input type="email" class="email-input" id="email" />
    </div>
    <div class="input-wrapper">
      <label for="password">Password</label>
      <input type="password" class="password-input" id="password" />
    </div>
    <div class="submit-btn-wrapper">
      <button class="submit-btn" type="submit">Register</button>
    </div>
    <div class="signin-suggestion">
      <span>Already a member? You can <a href="#">Sign in</a> instead.</span>
    </div>
  </form>
</section>
