<section class="forms">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
    <h2 class="register-title">Register to join others!</h2>
    <div class="input-wrapper">
      <label for="firstname">First name</label>
      <input formControlName="firstname"  type="text" class="firstname-input" id="firstname" />
      <span *ngIf="firstname?.invalid && firstname?.touched" class="warning-message">Please, enter a valid first name.</span>
      <span *ngIf="firstname?.errors?.['maxlength']" class="warning-message">Input is more than 40 characters.</span>
      <span *ngIf="firstname?.errors?.['onlyLettersAndLettersAllowed']" class="warning-message">Input must contain letters and spaces only.</span>
    </div>
    <div class="input-wrapper">
      <label for="email">Email</label>
      <input formControlName="email" type="email" class="email-input" id="email" />
      <span *ngIf="email?.invalid && email?.touched" class="warning-message">Please, enter a valid email.</span>
    </div>
    <div class="input-wrapper">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="password-input" id="password" />
      <span *ngIf="password?.invalid && password?.touched" class="warning-message">Please, enter a valid password.</span>
      <span *ngIf="password?.errors?.['weakPassword']" class="warning-message">Password must include :</span>
      <ul *ngIf="password?.errors?.['weakPassword']" class="warning-message">
        <li>At least 1 capital letter</li>
        <li>At least 1 digit</li>
        <li>At least 1 special symbol</li>
      </ul>
    </div>
    <div class="submit-btn-wrapper">
      <button class="submit-btn" type="submit" [disabled]="signupForm.invalid" [ngClass]="{'submit-btn': signupForm.valid}">Register</button>
    </div>
    <span *ngIf="signupForm.invalid && signupForm?.touched" class="warning-message">The form is not valid.</span>
    <div class="signin-suggestion">
      <span>Already a member? You can <a href="#">Sign in</a> instead.</span>
    </div>
  </form>
</section>
