.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.group-section,
.people-section {
  width: 50%;
}

.group-section {
  padding: 3rem 1rem 1rem 1rem;
  border-right: 1px dashed blue;
  height: 90vh;
  overflow-y: auto;
}

.group-heading {
  font-size: 3rem;
  margin-right: 5rem;
}

.heading-and-btn {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.update-list-btn,
.create-btn {
  margin-left: 1rem;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.update-list-btn {
  background-color: #008000;
}

.create-btn {
  background-color: #4d80e4;
}

.create-btn:hover {
  background-color: #5f8de7;
}

.update-list-btn:hover {
  background-color: #339933;
}

.update-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  flex-direction: column;
}

.group-count {
  font-size: 2rem;
}

.group-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.group-link {
  text-decoration: none;
}

.timer-container {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.timer-img-container {
  width: 1.5rem;
}

.timer-img-container img {
  width: 100%;
}