<section class="forms">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2 class="signin-title">Connect with others!</h2>
    <div class="input-wrapper">
      <label for="email">Email</label>
      <input formControlName="email" type="email" class="email-input" id="email" />
      <span *ngIf="email?.invalid && email?.touched" class="warning-message">Please, enter an email.</span>
    </div>
    <div class="input-wrapper">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="password-input" id="password" />
      <span *ngIf="password?.invalid && password?.touched" class="warning-message">Please, enter a password.</span>
    </div>
    <div class="submit-btn-wrapper">
      <button class="submit-btn" type="submit" [disabled]="signinForm.invalid"[ngClass]="{'submit-btn': signinForm.valid}">Log in</button>
    </div>
    <span *ngIf="signinForm?.invalid && signinForm?.touched" class="warning-message">The form is not valid yet.</span>
    <div class="signup-suggestion">
      <span>Not a member yet? You can <a href="#">Sign up</a> instead.</span>
    </div>
  </form>
</section>
