<section class="forms">
  <form class="login-form">
    <h2 class="signin-title">Connect with others!</h2>
    <div class="input-wrapper">
      <label for="email">Email</label>
      <input type="email" class="email-input" id="email" />
    </div>
    <div class="input-wrapper">
      <label for="password">Password</label>
      <input type="password" class="password-input" id="password" />
    </div>
    <div class="submit-btn-wrapper">
      <button class="submit-btn" type="submit">Log in</button>
    </div>
    <div class="signup-suggestion">
      <span>Not a member yet? You can <a href="#">Sign up</a> instead.</span>
    </div>
  </form>
</section>
